.ContactData {
  box-shadow: 0 2px 3px #ddd;
  margin: auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}

.ContactData form {
  display: flex;
  flex-direction: column;
}
